<a href="https://colab.research.google.com/github/kamranahmed71/learning-python-panaversity-batch-76/blob/main/Class07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum():
  print(2 + 2)
  print("hello world")
sum()

4
hello world

In [ ]:

def sum(num1, num2):
  print(num1 + num2)
sum(5,19)

24

In [ ]:

def sum(num1, num2):
  return num1 + num2
result = sum(5,10)
print(result)
final_result = result * 5
print(final_result)

15
75

In [ ]:
#def sum(num1, num2):
  #return num1 + num2

sum = lambda num1, num2: num1 + num2
print(sum(99,150))

249

In [ ]:
#for i in range(10):
     # print("ainda exam tayyari ke sath attend krenga!")
# loops
# for loop
# while loop

num_list = [1,2,3,4,5,6,7,8,9,10]
#for num in num_list:
for num in range(1,11):
  #print("num value is",num)
 # list(range(1,11))
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 6):
  for j in range(1, 6):
    print(i / j)

1.0
0.5
0.3333333333333333
0.25
0.2
2.0
1.0
0.6666666666666666
0.5
0.4
3.0
1.5
1.0
0.75
0.6
4.0
2.0
1.3333333333333333
1.0
0.8
5.0
2.5
1.6666666666666667
1.25
1.0

In [ ]:
# Loops   (iterations)

# for loop

# () for function calling
# [] for list
# {} for

num_list = [1,2,3,4,5,6,7,8,9,10]
value = num_list[0]
print(value)

1

In [ ]:
num_list = [1,2,3,4,5,6,7,8,9,10]

for num in num_list:
  print("num value is", num)

for num in range(10):   # range is called method it start from 0, (0,9)
  print(num)


for num in range(1,11):
  print(num)

list(range(1,12))

#

num value is 1
num value is 2
num value is 3
num value is 4
num value is 5
num value is 6
num value is 7
num value is 8
num value is 9
num value is 10
0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# While loop

# while condition:
#   Code

num = 1
while num < 10:
  print("num>>>",num)
  num = num + 1

num>>> 1
num>>> 2
num>>> 3
num>>> 4
num>>> 5
num>>> 6
num>>> 7
num>>> 8
num>>> 9

In [ ]:
user_input = input("Please enter your value")

while user_input != "exit":
  print("game is continue")
  user_input = input("Please enter your value")

Please enter your valuecont
game is continue
Please enter your value123
game is continue
Please enter your value456
game is continue
Please enter your valueexit

In [1]:
num1 = int(input("Which table do you want to print "))

for num2 in range(1,11):
  print(f"{num1} x {num2} = {num1*num2}")

Which table do you want to print 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40