<a href="https://colab.research.google.com/github/kamranahmed71/learning-python-panaversity-batch-76/blob/main/Learning_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num_int: int = 42

print(type(num_int)," num_int = ",num_int,)  #

<class 'int'>  num_int =  42

In [ ]:
num_float: float = 3.14
#num_float: float = .14

print(type(num_float), " num_float = ", num_float)  #

<class 'float'>  num_float =  3.14

In [ ]:
num_complex: complex = 2 + 3j

print(type(num_complex), " num_complex = ", num_complex)  #

<class 'complex'>  num_complex =  (2+3j)

In [ ]:
z = 3 + 4j

print("Real Part:", z.real)   # Output: 3.0
print("Imaginary Part:", z.imag)  # Output: 4.0

Real Part: 3.0
Imaginary Part: 4.0

In [ ]:
is_python_fun: bool = True #False

print(type(is_python_fun), " is_python_fun = ", is_python_fun)  #

<class 'bool'>  is_python_fun =  True

In [ ]:

text_double: str  = "Hello, Python!" # Strings with Double Quotes (")
text_single: str  = 'Hello, Python!' # Strings with Single Quotes (')
text_multi: str   = '''Hello, Python!''' # Multi-Line Strings with Triple Quotes (''' or """)
text_multi_1: str = """Hello, Python!""" # Multi-Line Strings with Triple Quotes (''' or """)

print(type(text_double), " text_double   = ", text_double)    #
print(type(text_single), " text_single   = ", text_single)    #
print(type(text_multi), " text_multi    = ", text_multi)      #
print(type(text_multi_1), " text_multi_1  = ", text_multi_1)  #

<class 'str'>  text_double   =  Hello, Python!
<class 'str'>  text_single   =  Hello, Python!
<class 'str'>  text_multi    =  Hello, Python!
<class 'str'>  text_multi_1  =  Hello, Python!

In [ ]:
my_list_1: int = [1, 2, 3, "Java", 3.14, True] #Type hinting is not enforced in python, but you should mention appropriate data type in this case 'list'
my_list: list = [1, 2, 3, "Python", 3.14, 3+2j]

print(type(my_list_1), " my_list_1 = ", my_list_1)  #
print(type(my_list), " my_list   =  " + str(my_list)) # we will look into type casting in classes ahead

<class 'list'>  my_list_1 =  [1, 2, 3, 'Java', 3.14, True]
<class 'list'>  my_list   =  [1, 2, 3, 'Python', 3.14, (3+2j)]

In [ ]:
my_tuple: tuple = (1, 2, 3, "AI", 2.71, False, .3 , 3+2j )
print(type(my_tuple), " my_tuple = ", my_tuple )  #

<class 'tuple'>  my_tuple =  (1, 2, 3, 'AI', 2.71, False, 0.3, (3+2j))

In [ ]:
num_range: range = range(1, 10, 2) # range(start, stop, step)
print(type(num_range), " num_range = ", num_range.step)  #

<class 'range'>  num_range =  2

In [ ]:
for i in range(1, 10, 2): # we will study loops indepth in classes ahead
  print(i)

1
3
5
7
9

In [ ]:
my_set: set = {1, 2, 33, 4, 4, 5}
print(type(my_set), "my_set = ", my_set)  #

<class 'set'> my_set =  {1, 2, 33, 4, 5}

In [ ]:
my_dict: dict = {"name": "Alice", "age": 25, "language": "Python"}
print(type(my_dict)," my_dict = ", my_dict )  #

<class 'dict'>  my_dict =  {'name': 'Alice', 'age': 25, 'language': 'Python'}

In [ ]:
byte_data: bytes = b"Hello"
print(type(byte_data), " byte_data = ", byte_data)  #

<class 'bytes'>  byte_data =  b'Hello'

In [ ]:
byte_array: bytearray = bytearray([65, 66, 67, 69]) #65=A, 66=B ....decimal number system
print(type(byte_array), " byte_array = ", byte_array)  #
print(byte_array[0])
print(chr(byte_array[0]))
print("Empty bytearray(): ",bytearray())

<class 'bytearray'>  byte_array =  bytearray(b'ABCE')
65
A
Empty bytearray():  bytearray(b'')

In [ ]:

byte_array: bytearray = bytearray([65, 66, 67, 69])
# Converting the entire bytearray to a string using decode()
print("Decoded string: ", byte_array.decode('utf-8'))  # Output: ABCE

Decoded string:  ABCE

In [ ]:
i: int = 10
print("Value of i = " + str(i) + ",     Type of i = " + str(type(i)))

j: float = 20.6

f: float = i + j #Implicit Type Casting
print("Value of f = " + str(f) + ",   Type of f = " + str(type(f)))

f1: float = 66.89
print("Value of f1 = " + str(f1) + ", Type of i = " + str(type(f1)))

i1: int = float(f1) #When ever you type cast a float value into an integer it truncate
             #the decimal part and only keeps the whole number
print("Value of i1 = " + str(i1) + ",    Type of i = " + str(type(i1)))

s: str = "25.8"
f2: float = float(s)
print("Value of f2 = " + str(f2) + ",  Type of i = " + str(type(f2)))

#uncomment the below line of code to see error
i2 = int = str(s) #correct this error by casting with float()
print("Value of i2 = " + str(i2) + ", Type of i = " + str(type(i2)))

Value of i = 10,     Type of i = <class 'int'>
Value of f = 30.6,   Type of f = <class 'float'>
Value of f1 = 66.89, Type of i = <class 'float'>
Value of i1 = 66.89,    Type of i = <class 'float'>
Value of f2 = 25.8,  Type of i = <class 'float'>
Value of i2 = 25.8, Type of i = <class 'str'>

In [ ]:
k: int = -9 #Any number either positive or negative, beside '0' ZERO is considered True
b: bool = bool(k)
print("Value of b = " + str(b) + ", Type of b = " + str(type(b)))

print("\n =================== \n")

if(k):
  print("""if block: This line of code will execute if we provide any integer value
          other then '0' ZERO""")
else:
  print("else block: As '0' is considered False, so this line of code will not execute")

print("\n =================== \n")

print("check: bool(\"55\")             = ", bool("55"))
print("check: bool(\"\")               = ", bool(""))
print("check: bool([1, 2, 3])        = ", bool([1, 2, 3]))
print("check: bool({\"key\", \"value\"}) = ", bool({"key", "value"}))

#Note: we will learn about list and dictionary in up comming classes
print("check: bool([])               = ", bool([])) #[] square brackets used to represent list
print("check: bool({})               = ", bool({})) #{} curly brackets used to represent dictionary

Value of b = True, Type of b = <class 'bool'>

 ===================

if block: This line of code will execute if we provide any integer value
          other then '0' ZERO

 ===================

check: bool("55")             =  True
check: bool("")               =  False
check: bool([1, 2, 3])        =  True
check: bool({"key", "value"}) =  True
check: bool([])               =  False
check: bool({})               =  False

In [ ]:
age: int = 20
weight: float = 66.89
print("check: isinstance(age, int)      = ", isinstance(age, int))
print("check: isinstance(weight, int)   = ", isinstance(weight, int))
print("check: isinstance(weight, float) = ", isinstance(weight, float))

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

In [ ]:

a: int = 10
b: int = 3
print("a + b  = ", a + b)   # 13 Addition
print("a - b  = ", a - b)   # 7 Subtraction
print("a * b  = ", a * b)   # 30 Multiplication
print("a / b  = ", a / b)   # 3.3333333333333335
print("a // b = ", a // b)  # 3 Floor Division
print("a % b  = ", a % b)   # 1 Modulus (remainder)
print("a % b  = ", a ** b)  # 1000 Exponentiation (10 * 10 * 10)

a + b  =  13
a - b  =  7
a * b  =  30
a / b  =  3.3333333333333335
a // b =  3
a % b  =  1
a % b  =  1000

In [ ]:

x: int = 10
y: int = 5

print("x == y = ", x == y)  # False, Equal
print("x != y = ", x != y)  # True, Not equal
print("x > y  = ", x > y)   # True, Greater than
print("x < y  = ", x < y)   # False, Less than
print("x >= y = ", x >= y)  # True, Greater than or equal
print("x <= y = ", x <= y)  # False, Less than or equal

x == y =  False
x != y =  True
x > y  =  True
x < y  =  False
x >= y =  True
x <= y =  False

In [ ]:

x: int = 15
if 10 < x < 20:
    print("x is between 10 and 20")

x is between 10 and 20

In [ ]:
x: bool = True
y: bool = False

print("x and y = ", x and y)  # False
print("x or y  = ", x or y)   # True
print("not x   = ", not x)    # False

x and y =  False
x or y  =  True
not x   =  False

In [ ]:

x = 5
print("Assignment: x = 5                    ",x)  # Output: 5

x += 3  # Equivalent to x = x + 3
print("Addition Assignment: x += 3          ",x)  # Output: 8

x -= 3  # Equivalent to x = x - 3
print("Subtraction Assignment: x -= 3       ",x)  # Output: 5

x *= 3  # Equivalent to x = x * 3
print("Multiplication Assignment: x *= 3    ",x)  # Output: 15

x /= 3  # Equivalent to x = x / 3
print("Division Assignment: x /= 3          ",x)  # Output: 5.0

x //= 3  # Equivalent to x = x // 3
print("Floor Division Assignment: x //= 3   ",x)  # Output: 1.0

Assignment: x = 5                     5
Addition Assignment: x += 3           8
Subtraction Assignment: x -= 3        5
Multiplication Assignment: x *= 3     15
Division Assignment: x /= 3           5.0
Floor Division Assignment: x //= 3    1.0

In [ ]:
if (user_input := input("Enter a number: ")) and user_input.isdigit():
    print(f"user_input =  {user_input}")
else:
    print("Invalid input. Please enter a valid number.")

Enter a number: a
Invalid input. Please enter a valid number.

In [ ]:

my_list: list = [1, 2, 3, 4, 5]

print("my_list           = ", my_list)            # [1, 2, 3, 4, 5]
print("3 in my_list      = ", 3 in my_list)       # True
print("10 not in my_list = ", 10 not in my_list)  # True

print("\n-----\n")

my_string: str = "Operation Badar"

print("my_string                 = ", my_string)                # Operation Badar
print("'O' in my_string          = ", 'O' in my_string)         # True
print("'Hello' not in my_string  = ", 'Hello' not in my_string) # True

my_list           =  [1, 2, 3, 4, 5]
3 in my_list      =  True
10 not in my_list =  True

-----

my_string                 =  Operation Badar
'O' in my_string          =  True
'Hello' not in my_string  =  True

In [ ]:
import keyword

# Line continuation (`\`) allows printing a statement over multiple lines, improving code readability without breaking the string.
print("The list of \
keywords is : ")

# printing all keywords at once using "kwlist()"
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
x, y, z = 1, 2.5, "Python" # Using type hints while assigning mutiple variables simultaneously cause and error invalid syntax

print(x, y, z)

1 2.5 Python

In [ ]:
x: int, y: float, z: str = 1, 2.5, "Python" # Using type hints while assigning mutiple variables simultaneously cause and error invalid syntax

print(x, y, z)

SyntaxError: invalid syntax (ipython-input-3422660174.py, line 1)

In [ ]:
# Assigning value to variable
x: int = 10
print(x)

10

In [ ]:
del x

In [ ]:
# Trying to print x after deletion will raise an error
# print(x)  # Uncommenting this line will raise NameError: name 'x' is not defined
print(x) # NameError: name 'x' is not defined, because we already delete variable x (del x)

NameError: name 'x' is not defined

In [ ]:
#for multi line string use triple quotes '''any string'''
my_string: str = '''Hello,
World!'''
print(my_string)

Hello,
World!

In [ ]:
my_string: str = r'Hello\t,\n Worl\d!'
print(my_string)

print("\n-----\n")

my_string = 'Hello,\n World!'
print(my_string)

Hello\t,\n Worl\d!

-----

Hello,
 World!

In [ ]:
print("Hello,\b World!") #\b backspace
print("Hello,\tWorld!")  #\t tab
print("Hello, \"World!\"")
print("Hello,\ World!")

Hello, World!
Hello,	World!
Hello, "World!"
Hello,\ World!

<>:4: SyntaxWarning: invalid escape sequence '\ '
<>:4: SyntaxWarning: invalid escape sequence '\ '
/tmp/ipython-input-1299532342.py:4: SyntaxWarning: invalid escape sequence '\ '
  print("Hello,\ World!")

In [ ]:
print(r"\u0041 = ", "\u0041")
print(r"\u0042 = ", "\u0042")
print(r"\u0043 = ", "\u0043")

\u0041 =  A
\u0042 =  B
\u0043 =  C

In [ ]:
my_string = 'Hello, ' + 'World!' #Concatenation using + sign
print(my_string)

Hello, World!

In [ ]:
my_string: str = 'Hello! World'

# split into a list of words
words: str = my_string.split()
print("my_string.split()    = ", words)

words = my_string.split(" ") # Space as a delimiter
print('my_string.split(" ") = ',words)

words = my_string.split("l") # Splitting using 'l' as the delimiter
print('my_string.split("l") = ', words)

my_string.split()    =  ['Hello!', 'World']
my_string.split(" ") =  ['Hello!', 'World']
my_string.split("l") =  ['He', '', 'o! Wor', 'd']

In [ ]:
words: str = my_string.split("l") # Splitting using 'l' as the delimiter
print(words)

['He', '', 'o! Wor', 'd']

In [ ]:
# join the words back into a single string
my_string: str = ', '
joined_string: str = my_string.join(['Pakistan', 'USA', 'Canada', 'France', 'Japan'])
print(joined_string)  # Pakistan, USA, Canada, France, Japan

Pakistan, USA, Canada, France, Japan

In [ ]:
joined_string: str = my_string.join('Pakistan') # my_string works as a seprator for each character in the word 'Pakistan', because string is a sequence of caharacter

print(joined_string) # P, a, k, i, s, t, a, n

print('-'.join(['Apple', 'Banana', 'Cherry'])); # ; The line terminitor

P, a, k, i, s, t, a, n
Apple-Banana-Cherry

In [ ]:
my_string: str = "Hello, World! Hello, Pakistan"
# replace a substring
my_string = my_string.replace('Hello', 'Salam Walikum')
print(my_string)  # prints 'Salam Walikum, World! Salam Walikum, Pakistan'

Salam Walikum, World! Salam Walikum, Pakistan

In [ ]:
my_string: str = "Hello, World! Hello, Pakistan"
# find the index of a substring
starting_index = my_string.find('Hello') # Index value of the first occurance of the word 'Hello'
print("starting_index = ", starting_index)  # prints 0

starting_index =  0

In [ ]:
# Now lets find the second occurance of the word 'Hello'
# index value start from zero

starting_index2: str = starting_index + len("Hello") #len=5

print(my_string[starting_index2:] ) # after slicing ", World! Hello, Pakistan
print(my_string[starting_index2:].find("Hello")) # Starting index 9, because of slicing ", World! Hello, Pakistan"

, World! Hello, Pakistan
9

In [ ]:
print(my_string)
print(len(my_string)) #character count = 29

print('\n-----\n')

print("Substring to search    = ", "Hello")
print("Starting index         = ", len("Hello")) # 5
print("End index              = ", len(my_string))
print("Second Occurance index = ", my_string.index(("Hello"), len("Hello"), len(my_string))) # (substring, start, end) - print 14

#Uncomment to see ValueError: substring not found
print("Second Occurance index = ", my_string.index(("Hello7"), len("Hello"), len(my_string))) # (substring, start, end)

Hello, World! Hello, Pakistan
29

-----

Substring to search    =  Hello
Starting index         =  5
End index              =  29
Second Occurance index =  14

ValueError: substring not found

In [ ]:
print(my_string.find("Hello7")) # -1 for not found

-1

In [ ]:
my_string = "Hello, World! Hello, Pakistan"
# count the occurrences of a substring
count = my_string.count('Hello')
print("my_string.count('Hello') = ", count)  # prints 2

# count the occurrences of a substring
count = my_string.count('P')
print("my_string.count('P')     = ", count)  # prints 1

# count the occurrences of a substring
count = my_string.count('o')
print("my_string.count('o')     = ", count)  # prints 2

# count the occurrences of a substring
count = my_string.count('hello') # case sensitive
print("my_string.count('hello') = ", count)  # prints 0

my_string.count('Hello') =  2
my_string.count('P')     =  1
my_string.count('o')     =  3
my_string.count('hello') =  0

In [ ]:
name: str = 'John'
age: int = 20
first_letter: str = name[0]
my_weight: float = 70.532000 # 70.536000

#uncomment to see type
print(type((name, first_letter, age, my_weight)))

# using % operator
my_string: str = '''My name is %s, first letter of my name is \'%c\', I am %d years old and my weight id %f Kg.''' % (name, first_letter, age, my_weight)
print(my_string)

my_string = '''My name is %s, first letter of my name is \'%c\', I am %d years old and my weight id %.2f Kg.''' % (name, first_letter, age, my_weight) # Dont forget period %.2f
print(my_string)

<class 'tuple'>
My name is John, first letter of my name is 'J', I am 20 years old and my weight id 70.532000 Kg.
My name is John, first letter of my name is 'J', I am 20 years old and my weight id 70.53 Kg.

In [ ]:
# Error: TypeError: %d format: a real number is required, not str
my_string: str = '''My name is %s, first letter of my name is \'%c\', I am %d years old and my weight id %f Kg.''' % (name, first_letter, age, my_weight)

In [ ]:
a: str = "hello"
b: str = "hello"

#Both variable a and b have same id.
print(id(a))
print(id(b))

134179187098128
134179187098128

In [ ]:
# prompt: print list of str functions using dir(), dont show function starting with"__"

# Get the list of string methods
string_methods: str = dir(str)

# Filter out methods starting with "__"
filtered_methods: str = [method for method in string_methods if not method.startswith("__")]

# Print the filtered list
filtered_methods

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
total: int = 0
for i in range(1, 101):
    total += i
print("Sum of numbers from 1 to 100:", total)

Sum of numbers from 1 to 100: 5050

In [ ]:
# Find factors of a number
num: int = 24
factors = []
for i in range(1, num + 1):
    if num % i == 0:
        factors.append(i)
print(f"Factors of {num}: {factors}")

Factors of 24: [1, 2, 3, 4, 6, 8, 12, 24]

In [ ]:
a: int = input ("Enter your name: ")
print(a, type(a) )

Enter your name: Kamran
Kamran <class 'str'>

In [ ]:
# Create a phonebook
phonebook: dict = {
    "Alice": "123-456-7890",
    "Bob": "987-654-3210",
    "Charlie": "555-555-5555"
}

# Add a new contact
phonebook["David"] = "111-222-3333"

# Search for a contact
name: str = input("Enter a name to search: ")
if name in phonebook:
    print(f"{name}'s phone number is {phonebook[name]}.")
else:
    print(f"{name} is not in the phonebook.")

Enter a name to search: Bob
Bob's phone number is 987-654-3210.

In [ ]:
# prompt: generate a working example of all dictionary function

# Example Dictionary
my_dict = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# 1. Accessing Items
print("1. Accessing Items")
print("Name:", my_dict["name"])  # Accessing by key
print("Age:", my_dict.get("age"))  # Accessing using get()
print("City (using get):", my_dict.get("city"))

# 2. Adding Items
print("\n2. Adding Items")
my_dict["email"] = "john@example.com"
print("Dictionary after adding email:", my_dict)

# 3. Modifying Items
print("\n3. Modifying Items")
my_dict["age"] = 31
print("Dictionary after modifying age:", my_dict)

# 4. Removing Items
print("\n4. Removing Items")
my_dict.pop("city")
print("Dictionary after removing city (using pop):", my_dict)
del my_dict["email"]
print("Dictionary after removing email (using del):", my_dict)

# 5. Dictionary Methods
print("\n5. Dictionary Methods")
print("Keys:", my_dict.keys())
print("Values:", my_dict.values())
print("Items:", my_dict.items())

# 6. Clearing the Dictionary
print("\n6. Clearing the Dictionary")
my_dict.clear()
print("Dictionary after clearing:", my_dict)

# Adding items back for further examples
my_dict = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# 7. Updating the Dictionary
print("\n7. Updating the Dictionary")
my_dict.update({"age": 32, "country": "USA"})
print("Dictionary after updating:", my_dict)

1. Accessing Items
Name: John
Age: 30
City (using get): New York

2. Adding Items
Dictionary after adding email: {'name': 'John', 'age': 30, 'city': 'New York', 'email': 'john@example.com'}

3. Modifying Items
Dictionary after modifying age: {'name': 'John', 'age': 31, 'city': 'New York', 'email': 'john@example.com'}

4. Removing Items
Dictionary after removing city (using pop): {'name': 'John', 'age': 31, 'email': 'john@example.com'}
Dictionary after removing email (using del): {'name': 'John', 'age': 31}

5. Dictionary Methods
Keys: dict_keys(['name', 'age'])
Values: dict_values(['John', 31])
Items: dict_items([('name', 'John'), ('age', 31)])

6. Clearing the Dictionary
Dictionary after clearing: {}

7. Updating the Dictionary
Dictionary after updating: {'name': 'John', 'age': 32, 'city': 'New York', 'country': 'USA'}

In [ ]:
# 8. Iterating Through a Dictionary
print("\n8. Iterating Through a Dictionary")
print("Iterating through keys:")
for key in my_dict:
  print(key)

print("\nIterating through values:")
for value in my_dict.values():
  print(value)

print("\nIterating through items (key-value pairs):")
for key, value in my_dict.items():
  print(f"{key}: {value}")

8. Iterating Through a Dictionary
Iterating through keys:
name
age
city
country

Iterating through values:
John
32
New York
USA

Iterating through items (key-value pairs):
name: John
age: 32
city: New York
country: USA

In [ ]:
#9 checking if a key exist
print("\n9. checking if a key exist")
if "name" in my_dict:
    print("Name exist")
else:
    print("Name do not exist")

9. checking if a key exist
Name exist

In [ ]:
# 10. Dictionary Length
print("\n10. Dictionary Length")
print("Length of the dictionary:", len(my_dict))

10. Dictionary Length
Length of the dictionary: 4

In [ ]:
# 11. Creating a dictionary from iterable
print("\n11. Creating a dictionary from iterable")
iterable = [("key1", "value1"), ("key2", "value2"), ("key3", "value3")]
new_dict = dict(iterable)
print("new dictionary:", new_dict)

11. Creating a dictionary from iterable
new dictionary: {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
# 12. Copying a dictionary
print("\n12. Copying a dictionary")
copied_dict = my_dict.copy()
print("Copied dictionary:", copied_dict)

12. Copying a dictionary
Copied dictionary: {'name': 'John', 'age': 32, 'city': 'New York', 'country': 'USA'}

In [ ]:
# 13. Nested Dictionaries
print("\n13. Nested Dictionaries")
nested_dict = {
    "person1": {"name": "Alice", "age": 25},
    "person2": {"name": "Bob", "age": 30}
}
print("Nested dictionary:", nested_dict)
print("Alice's age:", nested_dict["person1"]["age"])

13. Nested Dictionaries
Nested dictionary: {'person1': {'name': 'Alice', 'age': 25}, 'person2': {'name': 'Bob', 'age': 30}}
Alice's age: 25

In [ ]:
celsius_temps = [0, 10, 20, 30, 40]
fahrenheit_temps = {str(c)+"c":  str((c * 9/5) + 32)+"f" for c in celsius_temps}
print(fahrenheit_temps)  # Output: {0: 32, 10: 50, 20: 68, 30: 86, 40: 104}

{'0c': '32.0f', '10c': '50.0f', '20c': '68.0f', '30c': '86.0f', '40c': '104.0f'}

In [ ]:
my_set: set = {123, 452, 5, 6}
my_set2: set = set([123, 452, 5, 6])
unknown: set = {} # set or dectionary
empty_set: set = set()

print("my_set            = ", my_set)
print("my_set2           = ", my_set2)
print("type(my_set)      = ", type(my_set))
print("type(my_set2)     = ", type(my_set2))
print("type(unknown)     = ", type(unknown))
print("type(empty_set)   = ", type(empty_set))
print("my_set == my_set2 = ", my_set == my_set2)

my_set            =  {123, 452, 5, 6}
my_set2           =  {123, 452, 5, 6}
type(my_set)      =  <class 'set'>
type(my_set2)     =  <class 'set'>
type(unknown)     =  <class 'dict'>
type(empty_set)   =  <class 'set'>
my_set == my_set2 =  True

In [ ]:
my_set = {[123, 452, 5, 6]} # TypeError: unhashable type: 'list'
print(my_set)

TypeError: unhashable type: 'list'

In [ ]:
my_set: set = {1, 2, 3, 4, 5, 'A', 'a'}
print(my_set)
# Remove an item
my_set.remove(3)
my_set.remove('A')
print(my_set)  # Output: {1, 2, 4, 5}

{1, 2, 3, 4, 5, 'a', 'A'}
{1, 2, 4, 5, 'a'}

In [ ]:
my_set.add(6)
print(my_set)  # Output: {1, 2, 4, 5, 6}

{1, 2, 4, 5, 'a', 6}

In [ ]:
my_set: set = {1, 2, 3, 4, 5, 'A', 'a'}
print("my_set = ", my_set)

# discard() only removes a single element.
# {1, 2, 3} is a set itself, not an element within my_set.
# Therefore, discard does not find it and returns None, without modifying the set.
print(my_set.discard({1,2,3}))

print("After: my_set = ", my_set) # return None

my_set =  {1, 2, 3, 4, 5, 'a', 'A'}
None
After: my_set =  {1, 2, 3, 4, 5, 'a', 'A'}

In [ ]:
# To remove multiple elements, iterate and discard each one individually:
for item in {1, 2, 3}:
    my_set.discard(item)

print("After removing multiple elements: my_set = ", my_set)

After removing multiple elements: my_set =  {4, 5, 'a', 'A'}

In [ ]:
my_set: set = {1, 2, 3, 4, 5, 'A', 'a'}
print("Before: my_set = ", my_set)
my_set.difference_update({1, 5, 3, 'A'})
print("After:  my_set = ", my_set)

Before: my_set =  {1, 2, 3, 4, 5, 'a', 'A'}
After:  my_set =  {'a', 2, 4}

In [ ]:
print("Before: ", my_set)
# Add multiple items
my_set.update([7, 8, 9, "Hello"])
print(my_set)  # Output: {4, 5, 6, 7, 8, 9}

Before:  {'a', 2, 4}
{'a', 2, 4, 7, 8, 9, 'Hello'}

In [ ]:
my_set: set   = {1, 2, 3, 5}
my_set_2: set = {1, 5, 6, 7}

my_set3: set  = my_set.union(my_set_2)
print(my_set3)

{1, 2, 3, 5, 6, 7}

In [ ]:
my_set: set   = {1, 2, 3, 5}
my_set_2: set = {1, 5, 6, 7}

my_set3: set  = my_set | my_set_2 # | operator
print(my_set3)

{1, 2, 3, 5, 6, 7}

In [ ]:
my_set: set = {1,2,3,4,5, "Hello! World"}
print("Before : ", my_set)

my_set.add(2)
my_set.add("Hello! World")

print("After  : ", my_set)

Before :  {1, 2, 3, 4, 5, 'Hello! World'}
After  :  {1, 2, 3, 4, 5, 'Hello! World'}

In [ ]:
# Lets create an error to understand
my_set: set = {1,2,3}

my_set.remove(4)
print(my_set)

KeyError: 4

In [ ]:
print("Before pop() = ", my_set)

#When you call `my_set.pop()`, it removes and returns an arbitrary element from the set.
#Since sets are unordered data structures, the element that is removed and returned is not predictable.
my_set.pop()
print("Before pop() = ", my_set)

Before pop() =  {1, 2, 3}
Before pop() =  {2, 3}

In [ ]:
my_set = {1,2,3}

my_set.discard(4) # method
print(my_set)

{1, 2, 3}

In [ ]:
# Initial set
my_set = {10, 3, 5, 8}
print(my_set)  # Output may be {8, 10, 3, 5} or another order

# Adding an element
my_set.add(20)
print(my_set)  # The order might change unpredictably

# Removing an element
my_set.remove(10)
print(my_set)  # Again, the order can change

{8, 10, 3, 5}
{3, 5, 8, 10, 20}
{3, 5, 8, 20}

In [ ]:
my_frozenset: frozenset = frozenset([1,2,3, "Hello! World"])
print("my_frozenset  = ", my_frozenset)

my_set: set = {1,2,3, "Hello! World"}
my_frozenset2: frozenset = frozenset(my_set)
print("my_frozenset2 = ",my_frozenset2)

my_frozenset  =  frozenset({1, 2, 3, 'Hello! World'})
my_frozenset2 =  frozenset({1, 2, 3, 'Hello! World'})

In [ ]:
my_set:  set = {1,2,3, "Hello! World", 4,5,6}
my_set2: set = {1,2,3, "Hello! World", 8,9}
my_set3: set = {1,2,3, "Hello! World", 77}

print("difference()           = ", my_set.difference(my_set2, my_set3)) #Returns a set containing the difference between two or more sets
print("intersection()         = ", my_set.intersection(my_set2, my_set3))#Return a set that contains the items that exist in both set
print("union()                = ", my_set.union(my_set2, my_set3))#Return a set that contains all items from both sets, duplicates are excluded:
print("symmetric_difference() = ", my_set.symmetric_difference(my_set2))#One argument only, #Return a set that contains only unique items from both sets

#my_set = {55,66}

print("isdisjoint()           = ", my_set.isdisjoint(my_set2))#Return True if no items in set x is present in set y

my_set2 = {1,2,3, "Hello! World"}
print("issuperset()           = ", my_set.issuperset(my_set2))#Return True if all items in set x are present in set y
print("issubset()             = ", my_set2.issubset(my_set))

difference()           =  {4, 5, 6}
intersection()         =  {1, 2, 3, 'Hello! World'}
union()                =  {1, 2, 3, 4, 5, 6, 8, 9, 77, 'Hello! World'}
symmetric_difference() =  {4, 5, 6, 8, 9}
isdisjoint()           =  False
issuperset()           =  True
issubset()             =  True

In [ ]:
#my_set = {55,66}

print("isdisjoint()           = ", my_set.isdisjoint(my_set2))#Return True if no items in set x is present in set y

my_set2 = {1,2,3, "Hello! World"}
print("issuperset()           = ", my_set.issuperset(my_set2))#Return True if all items in set x are present in set y
print("issubset()             = ", my_set2.issubset(my_set))

isdisjoint()           =  True
issuperset()           =  False
issubset()             =  False

In [ ]:
# prompt: generate examples of all the method of set

# Example usage of set methods

# Initialize two sets for demonstration
set1: set = {1, 2, 3, 4, 5}
set2: set = {4, 5, 6, 7, 8}

# 1. add(): Adds an element to the set.
set1.add(6)
print(f"add(6): {set1}")  # Output: {1, 2, 3, 4, 5, 6}

# 2. clear(): Removes all elements from the set.
set_copy: set = set1.copy()
set_copy.clear()
print(f"clear(): {set_copy}")  # Output: set()

# 3. copy(): Returns a copy of the set.
set_copy: set = set1.copy()
print(f"copy(): {set_copy}")  # Output: {1, 2, 3, 4, 5, 6}

# 4. difference(): Returns a set containing the difference between two or more sets.
difference_set: set = set1.difference(set2)
print(f"difference(): {difference_set}")  # Output: {1, 2, 3}

# 5. difference_update(): Removes the items in this set that are also included in another, specified set.
set1.difference_update(set2)
print(f"difference_update(): {set1}")  # Output: {1, 2, 3}
set1: set = {1, 2, 3, 4, 5,6} #reset set1

# 6. discard(): Remove the specified item.
set1.discard(6)
print(f"discard(6): {set1}")  # Output: {1, 2, 3, 4, 5}

# 7. intersection(): Returns a set, that is the intersection of two other sets.
intersection_set: set = set1.intersection(set2)
print(f"intersection(): {intersection_set}")  # Output: {4, 5}

# 8. intersection_update(): Removes the items in this set that are not present in other, specified set(s)
set1.intersection_update(set2)
print(f"intersection_update(): {set1}") # Output: {4, 5}
set1 = {1, 2, 3, 4, 5,6} #reset set1

# 9. isdisjoint(): Returns whether two sets have a intersection or not.
print(f"isdisjoint(): {set1.isdisjoint(set2)}")  # Output: False
print(f"isdisjoint(): {set1.isdisjoint({9,10})}") # Output: True

# 10. issubset(): Returns whether another set contains this set or not.
print(f"issubset(): {set1.issubset(set2)}")  # Output: False
print(f"issubset(): {{1,2}}.issubset({set1})")  # Output: True
print(f"issubset(): {{1,2}}.issubset({{1,2}})")  # Output: True


# 11. issuperset(): Returns whether this set contains another set or not.
print(f"issuperset(): {set1.issuperset(set2)}")  # Output: False
print(f"issuperset(): {set1.issuperset({1,2})}")  # Output: True
print(f"issuperset(): {{1,2}}.issuperset({{1,2}})")  # Output: True

# 12. pop(): Removes a random element from the set.
removed_element: int = set1.pop()
print(f"pop(): {removed_element}")  # Output: (random element)
print(f"set after pop(): {set1}")  # Output: (set without removed_element)
set1.add(removed_element)#put back the element for others test

# 13. remove(): Removes the specified element. Raises an error if the element is not present.
set1.remove(1)
print(f"remove(1): {set1}")  # Output: {2, 3, 4, 5,6}
set1.add(1)#put back the element for others test

# 14. symmetric_difference(): Returns a set with the symmetric differences of two sets.
symmetric_difference_set: set = set1.symmetric_difference(set2)
print(f"symmetric_difference(): {symmetric_difference_set}")  # Output: {1, 2, 3, 6, 7, 8}

# 15. symmetric_difference_update(): Inserts the symmetric differences from this set and another
set1.symmetric_difference_update(set2)
print(f"symmetric_difference_update(): {set1}")  # Output: {1, 2, 3, 6, 7, 8}
set1 = {1, 2, 3, 4, 5,6} #reset set1

# 16. union(): Returns a set containing the union of sets.
union_set = set1.union(set2)
print(f"union(): {union_set}")  # Output: {1, 2, 3, 4, 5, 6, 7, 8}

# 17. update(): Update the set with the union of this set and others
set1.update(set2)
print(f"update(): {set1}") # Output: {1, 2, 3, 4, 5, 6, 7, 8}

add(6): {1, 2, 3, 4, 5, 6}
clear(): set()
copy(): {1, 2, 3, 4, 5, 6}
difference(): {1, 2, 3}
difference_update(): {1, 2, 3}
discard(6): {1, 2, 3, 4, 5}
intersection(): {4, 5}
intersection_update(): {4, 5}
isdisjoint(): False
isdisjoint(): True
issubset(): False
issubset(): {1,2}.issubset({1, 2, 3, 4, 5, 6})
issubset(): {1,2}.issubset({1,2})
issuperset(): False
issuperset(): True
issuperset(): {1,2}.issuperset({1,2})
pop(): 1
set after pop(): {2, 3, 4, 5, 6}
remove(1): {2, 3, 4, 5, 6}
symmetric_difference(): {1, 2, 3, 7, 8}
symmetric_difference_update(): {1, 2, 3, 7, 8}
union(): {1, 2, 3, 4, 5, 6, 7, 8}
update(): {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Create some example frozensets
frozen_set1: frozenset = frozenset([1, 2, 3, 4])
frozen_set2: frozenset = frozenset([3, 4, 5, 6])
frozen_set3: frozenset = frozenset([1, 2])

print(f"frozen_set1: {frozen_set1}")
print(f"frozen_set2: {frozen_set2}")
print(f"frozen_set3: {frozen_set3}")
print("\n----------\n")
# Methods that work with frozensets (since they are immutable)
# These methods return a new frozenset or a boolean value

# 1. difference(): Returns a new frozenset with elements present in the first frozenset but not in the second.
difference_set: frozenset = frozen_set1.difference(frozen_set2)
print(f"difference(): {difference_set}")  # Output: frozenset({1, 2})

# 2. intersection(): Returns a new frozenset containing only elements common to both frozensets.
intersection_set: frozenset = frozen_set1.intersection(frozen_set2)
print(f"intersection(): {intersection_set}")  # Output: frozenset({3, 4})

# 3. union(): Returns a new frozenset containing all unique elements from both frozensets.
union_set: frozenset = frozen_set1.union(frozen_set2)
print(f"union(): {union_set}")  # Output: frozenset({1, 2, 3, 4, 5, 6})

# 4. symmetric_difference(): Returns a new frozenset with elements that are in either of the sets but not in both.
symmetric_difference_set: frozenset = frozen_set1.symmetric_difference(frozen_set2)
print(f"symmetric_difference(): {symmetric_difference_set}")  # Output: frozenset({1, 2, 5, 6})

# 5. isdisjoint(): Returns True if the two frozensets have no elements in common; otherwise, False.
print(f"isdisjoint(): {frozen_set1.isdisjoint(frozen_set2)}")  # Output: False
print(f"isdisjoint(): {frozen_set1.isdisjoint(frozenset([7, 8]))}")  # Output: True

# 6. issubset(): Returns True if all elements of the first frozenset are present in the second frozenset.
print(f"issubset(): {frozen_set3.issubset(frozen_set1)}")  # Output: True
print(f"issubset(): {frozen_set1.issubset(frozen_set3)}")  # Output: False

# 7. issuperset(): Returns True if all elements of the second frozenset are present in the first frozenset.
print(f"issuperset(): {frozen_set1.issuperset(frozen_set3)}")  # Output: True
print(f"issuperset(): {frozen_set3.issuperset(frozen_set1)}")  # Output: False

# 8. copy(): Returns a new frozenset that is a shallow copy of the original.
copy_set: frozenset = frozen_set1.copy()
print(f"copy(): {copy_set}")  # Output: frozenset({1, 2, 3, 4})
print(f"copy() is same object?: {copy_set is frozen_set1}") # Output: True because frozensets are immutable

frozen_set1: frozenset({1, 2, 3, 4})
frozen_set2: frozenset({3, 4, 5, 6})
frozen_set3: frozenset({1, 2})

----------

difference(): frozenset({1, 2})
intersection(): frozenset({3, 4})
union(): frozenset({1, 2, 3, 4, 5, 6})
symmetric_difference(): frozenset({1, 2, 5, 6})
isdisjoint(): False
isdisjoint(): True
issubset(): True
issubset(): False
issuperset(): True
issuperset(): False
copy(): frozenset({1, 2, 3, 4})
copy() is same object?: True

In [ ]:
import gc

gc.collect()
print(gc.get_count())  # prints the number of collected objects, unreachable objects, and reference cycles

(36, 0, 0)

In [ ]:
import math
print(math.sqrt(25))  # Output: 5.0

5.0

In [ ]:
def add(a, b):
    return a + b

In [ ]:
import mymodule
print(mymodule.add(5, 3))  # Output: 8

ModuleNotFoundError: No module named 'mymodule'

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.11.12)

In [ ]:
import requests
response = requests.get("https://www.example.com")
print(response.status_code)

200

In [ ]:
import math
print(math.pi)  # Output: 3.141592653589793

3.141592653589793

In [ ]:
import numpy as np
print(np.array([1, 2, 3]))

[1 2 3]

In [ ]:
def greetings():
   "This is docstring of greetings function"
   greet = 'Hello World!'
   return greet

message = greetings()
print(message)

Hello World!

In [ ]:
def modify_value(x):
    x = 10
    print("Within function:", x)

# Immutable object (integer)
x = 7
print("Original:", x)
modify_value(x)
print("After function:", x)

Original: 7
Within function: 10
After function: 7

In [ ]:
def printinfo( name, age ):
   "This prints a passed info into this function"
   print ("Name: ", name)
   print ("Age ", age)
   return;

# Now you can call printinfo function
printinfo( age=50, name="Arif" )
#printinfo(50, "Arif" )

Name:  Arif
Age  50

In [ ]:
def add(x: int,y: int=0) -> float:
   return float(x + y)

print(float(add(10,20)))

print(add(y=50.0, x=2.0)) # type hints are not enforced in Python

print(add(x=5))

30.0
52.0
5.0

In [ ]:
def my_sum(*nums):
  print(type(nums),", ", nums)

  return sum(nums)

print("Sum     = ", my_sum(1,2,3,4,5,8,5),"\n")
print("Sum *[] = ", my_sum(*[1,2,3,4,5,8,5]), "\n") # *  unpacking list
print("Sum *() = ", my_sum(*(1,2,3,4,5,8,5))) # *  unpacking tuple

<class 'tuple'> ,  (1, 2, 3, 4, 5, 8, 5)
Sum     =  28

<class 'tuple'> ,  (1, 2, 3, 4, 5, 8, 5)
Sum *[] =  28

<class 'tuple'> ,  (1, 2, 3, 4, 5, 8, 5)
Sum *() =  28

In [ ]:
def posFun(x, y, /, z):
    print(x + y + z)

print("Evaluating positional-only arguments: ")
posFun(1, 2, z=3)

# uncomment to see error
posFun(x=1, y=2, z=3)

Evaluating positional-only arguments:
6

TypeError: posFun() got some positional-only arguments passed as keyword arguments: 'x, y'

In [ ]:
def posFun(*, num1, num2, num3):
    print(num1 * num2 * num3)

print("Evaluating keyword-only arguments: ")
posFun(num1=6, num2=8, num3=5)

posFun(num3=6, num1=8, num2=5)


# TypeError: posFun() takes 0 positional arguments but 3 were given
posFun(6, 8, 5)

Evaluating keyword-only arguments:
240
240

TypeError: posFun() takes 0 positional arguments but 3 were given

In [ ]:
def add_two(x, y):
  return x + y

my_lambda = lambda x, y:  x + y;

print(my_lambda(1,2))

3

In [ ]:
# prompt: sort by value dictionary using lambda function

my_dict = {"apple": 5, "banana": 2, "cherry": 8, "date": 1}

sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))

sorted_dict

{'date': 1, 'banana': 2, 'apple': 5, 'cherry': 8}

In [ ]:
def my_function(**student):
  print("\nHis last name is " + student["lname"])

  for key, value in student.items():
    print(key, value)

  print(student)

my_function(fname = "Ali", lname = "Osman")

my_function(fname = "Ali", lname = "Osman", course = "Python - 101", day="Saturday", time="1400 - 1800")

my_dict = {"fname": "Arif", "lname": "Rozani", "course":"101 - 201", "day":"Saturday | Sunday", "role":"Student"}

#my_function(my_dict) # uncomment to see TypeError
my_function(**my_dict) # use ** to unpack the dictionary

His last name is Osman
fname Ali
lname Osman
{'fname': 'Ali', 'lname': 'Osman'}

His last name is Osman
fname Ali
lname Osman
course Python - 101
day Saturday
time 1400 - 1800
{'fname': 'Ali', 'lname': 'Osman', 'course': 'Python - 101', 'day': 'Saturday', 'time': '1400 - 1800'}

His last name is Rozani
fname Arif
lname Rozani
course 101 - 201
day Saturday | Sunday
role Student
{'fname': 'Arif', 'lname': 'Rozani', 'course': '101 - 201', 'day': 'Saturday | Sunday', 'role': 'Student'}

In [ ]:
# Generator expression
gen = (x * x for x in range(5))
print(type(gen))

# Iterate over the generator
for value in gen:
    print(value, " : ", type(value))

<class 'generator'>
0  :  <class 'int'>
1  :  <class 'int'>
4  :  <class 'int'>
9  :  <class 'int'>
16  :  <class 'int'>

In [ ]:
def factorial(n):
    # Base case
    if n == 0:
        return 1
    # Recursive case
    else:
        return n * factorial(n - 1)

# Example usage
print(factorial(5))  # Output: 120

120

In [ ]:
# prompt: generate an example of recursive function

def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120

In [ ]:
def example_function(a: int, b: int = 0, *args: float, **kwargs: str) -> Tuple[int, List[float], Dict[str, str]]:
    """Example function demonstrating various parameter types.
    Args:
        a: An integer.
        b: An integer with a default value of 0.
        *args: Variable-length positional arguments of type float.
        **kwargs: Variable-length keyword arguments of type string.
    Returns:
        A tuple containing:
        - The sum of 'a' and 'b'.
        - A list of the variable-length positional arguments ('args').
        - A dictionary of the variable-length keyword arguments ('kwargs').
    """
    sum_ab = a + b
    args_list = list(args)  # Convert tuple to a list
    return sum_ab, args_list, kwargs

# Example usage
result = example_function(1, 2, 3.14, 2.71, name="Alice", city="New York")
print(result)

result = example_function(10, *[1.0, 2.0, 3.0], **{"country": "USA", "language": "English"})
result

NameError: name 'Tuple' is not defined

In [ ]:
# prompt: generate a learning code on error handling covering all the expects

import random
from typing import Tuple, Dict, List

def generate_random_data(num_samples: int) -> List[Tuple[int, int]]:
    """Generates a list of random number pairs."""
    try:
        if not isinstance(num_samples, int) or num_samples <= 0:
            raise ValueError("Number of samples must be a positive integer.")
        data = [(random.randint(1, 100), random.randint(1, 100)) for _ in range(num_samples)]
        return data
    except ValueError as ve:
        print(f"Error: {ve}")
        return []  # Return empty list on error
    except Exception as e: # Catch any other unexpected errors
        print(f"An unexpected error occurred: {e}")
        return []


def calculate_ratios(data: List[Tuple[int, int]]) -> List[float]:
    """Calculates the ratio of the first number to the second in each pair."""
    ratios = []
    try:
        for pair in data:
            num1, num2 = pair
            if num2 == 0:
                raise ZeroDivisionError("Cannot divide by zero.")
            if not isinstance(num1,int) or not isinstance(num2,int):
                raise TypeError("Input data must be integers.")
            ratio = num1 / num2
            ratios.append(ratio)
        return ratios
    except ZeroDivisionError as zde:
        print(f"Error: {zde}")
        return []  # Return empty list on error.
    except TypeError as te:
        print(f"Error: {te}")
        return []
    except Exception as e:
        print(f"An unexpected error occurred during ratio calculation: {e}")
        return []


def process_data(num_samples: int) -> List[float]:
    """Combines data generation and ratio calculation with comprehensive error handling."""

    data = generate_random_data(num_samples)
    if not data: # check if generate_random_data returns an empty list which means it had an error
        return []

    ratios = calculate_ratios(data)

    return ratios

# Example usage with error handling
try:
  num_samples = 10
  results = process_data(num_samples)

  if results:
    print("Calculated ratios:", results)
  else: # if process_data returned an empty list it means there was some error
      print("Data processing failed due to an error.")

except Exception as e: # catching unexpected errors
    print(f"An unexpected error occurred: {e}")

# example of invalid input
results = process_data(-5)
if not results:
  print("Negative number of samples, data processing failed.")

results = process_data("abc")
if not results:
    print("Invalid input type, data processing failed.")

Calculated ratios: [2.125, 0.6666666666666666, 0.5641025641025641, 2.72, 0.31868131868131866, 0.030612244897959183, 1.75, 1.2025316455696202, 1.3673469387755102, 2.125]
Error: Number of samples must be a positive integer.
Negative number of samples, data processing failed.
Error: Number of samples must be a positive integer.
Invalid input type, data processing failed.

In [ ]:
class NegativeNumberError(Exception):
    """Custom exception for negative numbers"""
    pass

def check_positive(n):
    if n < 0:
        raise NegativeNumberError("Negative numbers are not allowed!")
    return f"{n} is positive"

try:
    print(check_positive(-5))  # Raises NegativeNumberError
except NegativeNumberError as e:
    print(f"Custom Exception Caught: {e}", " - Exception Class Type: ", type(e))  # Output: Custom Exception Caught: Negative numbers are not allowed!

Custom Exception Caught: Negative numbers are not allowed!  - Exception Class Type:  <class '__main__.NegativeNumberError'>

In [ ]:
from typing import NoReturn

def terminate_program() -> NoReturn:
    """Terminate the program by raising an exception."""
    raise SystemExit("Terminating the program.")

# When you call terminate_program, it never returns normally:
try:
    terminate_program()
except SystemExit as e:
    print(f"Program terminated: {e}")

Program terminated: Terminating the program.

In [ ]:
def terminate_program():
    """Terminates the program by raising an exception."""
    raise SystemExit("Program is terminating.")

terminate_program()

SystemExit: Program is terminating.

/usr/local/lib/python3.12/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
file = open("new_file.txt", "w")

In [ ]:
file.write("Hello, world!\n")  # \n creates a new line
file.write("This is another line.\n")
file.close()

In [ ]:
lines = ["Line 1: Karachi\n", "Line 2: Lahore\n", "Line 3: Peshawar\n"]
file = open("new_file.txt", "a") # run with mode w, and see the result
file.writelines(lines)
file.close()

In [ ]:
file = open("my_file.txt", "r")  # Opens "my_file.txt" in read mode ("r")

FileNotFoundError: [Errno 2] No such file or directory: 'my_file.txt'

In [ ]:
content = file.read()
print(content

SyntaxError: incomplete input (ipython-input-2259641844.py, line 2)

In [ ]:
def copy_file(source_path, destination_path):
    try:
        with open(source_path, "r") as source_file, open(destination_path, "w") as dest_file:
            for line in source_file:
                dest_file.write(line)
        print(f"File '{source_path}' copied to '{destination_path}' successfully.")
    except FileNotFoundError:
        print(f"Error: Source file '{source_path}' not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

copy_file("unique.txt", "unique_copy.txt")

Error: Source file 'unique.txt' not found.

In [ ]:
# Create and write to a file
with open('demo.txt', 'w') as file:
    file.write('Python File Handling\n')
    file.write('Line 1\nLine 2\n')

# Read and print content
with open('demo.txt', 'r') as file:
    print("Content:")
    print(file.read())

# Append a new line
with open('demo.txt', 'a') as file:
    file.write('Appended line\n')

# Read lines using seek
with open('demo.txt', 'r+') as file:
    file.seek(0)
    print("First line:", file.readline())

Content:
Python File Handling
Line 1
Line 2

First line: Python File Handling

In [ ]:
# prompt: generate a comprehensive example of file handling using all the functions

# Create a file and write to it
with open('example.txt', 'w') as f:
  f.write("This is line 1.\n")
  f.write("This is line 2.\n")
  f.writelines(["This is line 3.\n", "This is line 4.\n"])

# Read the file and print its content
with open('example.txt', 'r') as f:
  content = f.read()
  print("--- Full Content ---")
  print(content)

# Read the file line by line and print each line
with open('example.txt', 'r') as f:
  print("--- Line by Line ---")
  for line in f:
    print(line, end='')

# Read a single line
with open('example.txt', 'r') as f:
  print("\n--- Readline ---")
  print(f.readline(), end='')

# Read all lines into a list
with open('example.txt', 'r') as f:
  lines = f.readlines()
  print("\n--- Readlines ---")
  for line in lines:
    print(line, end='')

# Append to the file
with open('example.txt', 'a') as f:
  f.write("This is appended line 1.\n")
  f.write("This is appended line 2.\n")

# Reading with seek and tell
with open('example.txt', 'r') as f:
  print("\n--- Seek and Tell ---")
  print("Current position:", f.tell())
  print("First line:", f.readline(), end="")
  print("Current position:", f.tell())
  f.seek(0)
  print("After seek(0):", f.tell())
  print("First line again:", f.readline(), end="")

# Demonstrating 'x' mode (exclusive creation)
try:
    with open('new_file.txt', 'x') as f:
        f.write("This is a new file created in 'x' mode.")
        print("new_file.txt created successfully!")
except FileExistsError:
    print("File 'new_file.txt' already exists!")

# Copy file example
def copy_file(source, destination):
  try:
    with open(source, 'r') as src, open(destination, 'w') as dest:
      for line in src:
        dest.write(line)
      print(f"'{source}' successfully copied to '{destination}'")
  except FileNotFoundError:
    print(f"Error: File not found '{source}'")
  except Exception as e:
    print(f"Error during copying: {e}")

copy_file("example.txt", "example_copy.txt")

--- Full Content ---
This is line 1.
This is line 2.
This is line 3.
This is line 4.

--- Line by Line ---
This is line 1.
This is line 2.
This is line 3.
This is line 4.

--- Readline ---
This is line 1.

--- Readlines ---
This is line 1.
This is line 2.
This is line 3.
This is line 4.

--- Seek and Tell ---
Current position: 0
First line: This is line 1.
Current position: 16
After seek(0): 0
First line again: This is line 1.
File 'new_file.txt' already exists!
'example.txt' successfully copied to 'example_copy.txt'

In [11]:
# List Methods
# append
# insert
# removed
# pop
# len
# sort
# reverse
# index

numbers_list = [1, 2, 3, 4, 5]
print("List", numbers_list)

# append (to add the last of list)
numbers_list.append(6)
numbers_list.append(10)
print("List After Append:", numbers_list)


numbers_list = [1, 2, 4, 5]
print("List", numbers_list)

# insert (to add the number of any specific position)
numbers_list.insert(2,3)
print("List After Insert:", numbers_list)


numbers_list = [1, 2, 4, 5]
print("List", numbers_list)

# pop (to remove the elements at the last of the list)
numbers_list.pop()
numbers_list.pop(1) # remove at certain index
print("List After Pop:", numbers_list)


numbers_list = [1, 2, 4, 5]
print("List", numbers_list)

# removed (to remove the specific value of the list)
numbers_list.remove(2)
print("List After Removed:", numbers_list)


numbers_list = [1, 2, 3, 4, 5]
print("List", numbers_list)

# len (to count the elements)
print("List Len:", len(numbers_list))


numbers_list = [1, 2, 3, 4, 5]
print("List", numbers_list)

# Select Last one from the list
print("Select Last one from the list:", numbers_list[-1])


numbers_list = [1, 2, 3, 4, 5]
print("List", numbers_list)

# Select the data from range
print("Slice from the list:", numbers_list[1:3])
print("Slice from the list with step:", numbers_list[1:3:2])

List [1, 2, 3, 4, 5]
List After Append: [1, 2, 3, 4, 5, 6, 10]
List [1, 2, 4, 5]
List After Insert: [1, 2, 3, 4, 5]
List [1, 2, 4, 5]
List After Pop: [1, 4]
List [1, 2, 4, 5]
List After Removed: [1, 4, 5]
List [1, 2, 3, 4, 5]
List Len: 5
List [1, 2, 3, 4, 5]
Select Last one from the list: 5
List [1, 2, 3, 4, 5]
Slice from the list: [2, 3]
Slice from the list with step: [2]